extends layout

block content
  h1= title
  div(class="container-fluid")
  
    -let results =[{Icecream_flavour:"Chocolate", Icecream_toppings:"chocochips", Icecream_quantity:"15", Icecream_price:"10"},{Icecream_flavour:"Butterscotch", Icecream_toppings:"tootyfrooti", Icecream_quantity:"20", Icecream_price:"15"},{Icecream_flavour:"Vanilla", Icecream_toppings:"berrychips", Icecream_quantity:"25",Icecream_price:"20"},{Icecream_flavour:"Oreo", Icecream_toppings:"germs", Icecream_quantity:"30", Icecream_price:"25"}]
  
  div(class="row")
   each form,item  in results
    div(class="col-sm-2 bg-secondary" onclick =`buy(${item})`) #{form.Icecream_flavour}
    div(class="col-sm-2 bg-secondary" onclick =`buy(${item})`) #{form.Icecream_toppings}
    div(class="col-sm-2 bg-secondary" onclick =`buy(${item})`) #{form.Icecream_quantity}
    div(class="col-sm-2 bg-secondary" onclick =`buy(${item})`) #{form.Icecream_price}
    hr
  
    script.
        function buy(a)
        {
           alert(`You purchased Item ${a+1}`)
        }